<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calc</title>
</head>
<body>
    <h2>Somar usando API em Python definindo tempo de processamento do cálculo</h2>
    <form id="formulario" action="/calc" method="POST">
        <label for="campo1">Numero 1:</label>
        <input type="number" step="any" id="campo1" name="campo1"><br><br>
        <label for="campo2">Numero 2:</label>
        <input type="number" step="any" id="campo2" name="campo2"><br><br>
        <label for="tempo">Tempo:</label>
        <input type="number" step="any" id="tempo" name="tempo"><br><br>
        <input id="btn-formulario" type="submit" value="Somar">
    </form>

    <div id='soma'></div>

    <script src="/static/js/main.js"></script>
</body>
</html>